#webcam,
#feed {
    display: none;
}
video, canvas {
    margin-left: 230px;
    margin-top: 120px;
    position: absolute;
  }

/*#myVideo {
    width: 1000px;
    height: 750px;
    background-color: #666;
}*/