#webcam,
#feed {
    display: none;
}

#container {
    margin: 0px auto;
    width: 1000px;
    height: 750px;
    border: 10px #333 solid;
}

#sampleVideo{
	position: absolute;
	top:0;
	left:0;
}

#myCanvas{
	position: absolute;
	top:0;
	left:0;
}

/*#myVideo {
    width: 1000px;
    height: 750px;
    background-color: #666;
}*/